<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.lanjianghao.daijia.order.mapper.OrderInfoMapper">


    <select id="selectCustomerOrderPageByCustomerId"
            resultType="org.lanjianghao.daijia.model.vo.order.OrderListVo">
        SELECT info.id,
               info.order_no,
               info.start_location,
               info.end_location,
               if(info.status %lt; 7, info.expect_amount, bill.pay_amount) AS amount,
               info.status,
               info.create_time
        FROM order_info info LEFT JOIN order_bill bill ON info.id = bill.order_id
        WHERE info.customer_id = #{customerId} AND info.is_deleted = 0
        ORDER BY info.create_time DESC
    </select>
    <select id="selectDriverOrderPageByDriverId"
            resultType="org.lanjianghao.daijia.model.vo.order.OrderListVo">
        SELECT info.id,
               info.order_no,
               info.start_location,
               info.end_location,
               real_amount AS pay_amount
               if(info.status %lt; 7, info.expect_amount, info.real_amount) AS amount,
               info.status,
               info.create_time
        FROM order_info info
        WHERE info.driver_id = #{driverId} AND info.is_deleted = 0
        ORDER BY info.create_time DESC
    </select>
    <select id="selectOrderPayVoByOrderNoAndCustomerId"
            resultType="org.lanjianghao.daijia.model.vo.order.OrderPayVo">
        SELECT
            info.id AS order_id,
            info.customer_id,
            info.driver_id,
            info.order_no,
            info.start_location,
            info.end_location,
            info.status,
            bill.pay_amount,
            bill.coupon_amount
        FROM order_info info
                 INNER JOIN order_bill bill ON bill.order_id = info.id
        WHERE info.customer_id = #{customerId}
          AND info.order_no = #{orderNo}
          AND info.is_deleted = 0
    </select>
</mapper>

